[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
celery = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-restx = "*"

[dev-packages]
pytest = "*"
ipdb = "*"
flake8 = "==3.9.2"
pytest-flake8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
